.app-button {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  color: rgb(184, 139, 255);
  background-color: rgb(131, 97, 196);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: all .2s ease;
}

.app-button:hover {
  color: rgb(205, 173, 255);
  background-color: rgb(165, 130, 231);
}

.app-button--disabled, .app-button--disabled:hover {
  cursor: default;
  color: rgb(83, 70, 105);
  background-color: rgb(64, 55, 80);
}